@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
}

*:focus{
    outline: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
}

nav a{
    text-decoration: none;
}

nav .text-logo{
    width: 120px;
}

.icons i{
    color: black;
}

.search-box{
    text-align: center;
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
}

.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.icons{
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 20px;
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 15px;
}

.icons .profile{
    width: 30px;
    height: 30px;
    background-image: url('https://media.cnn.com/api/v1/images/stellar/prod/221127164140-lionel-messi-inter-miami-rumors-spt-intl.jpg?c=original');
    border-radius: 100%;
    background-size: cover;
    background-position:top;
}

.main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper{
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}

.left-col{
    display: flex;
    flex-direction: column;
}

.status-wrapper{
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 2px;
    padding-right: 0;
    display: flex;
    align-items: center ;
    overflow: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar{
    display: none;
}

.status-card{
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg,rgb(255,230,0),rgb(255,0,128) 80%);
    cursor: pointer;
}

.profile-pic img{
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: .2px;
}

.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.8);
}

.post{
    width: 100%;
    height: auto;
    border: 1px solid #dfdfdf;
    margin-top: 40px;

}

.info{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid #dfdfdf;
}

.dots{
    color: black;
    font-size: 200px;
}


.info .username{
    width: auto;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.info .options{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: px;
}

.info .user{
    display: flex;
    align-items: center;
}

.info .profile-pic{
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
    margin-right: 3px;
}

.info .profile-pic img {
    border: none;
} 

.post-image{
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.post-content{
    width: auto;
    padding: 20px;
}

.post-content .likes{
    font-weight: bold;
}

.description{
    margin: 10px 0;
    line-height: 20px;
    font-size: 14px;
}

.description span{
    font-weight: bold;
    margin-right: 10px;
}

.post-time{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper{
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon{
    height: 30px;
}

.comment-box{
    outline: none;
    border: none;
    font-size: 14px;
    width: 80%;
    height: 100%;
}

.comment-btn,.switch-btn{
    outline: none;
    border: none;
    background: none;
    text-transform: capitalize;
    color: rgba(0, 162, 255);
    opacity: 0.5;
    font-size: 16px;
}

.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.reaction-wrapper img{
    height: 25px;
    margin: 0;
    margin-right: 25px;
}

.reaction-wrapper .save{
    margin-left: auto;
}

.right-col{
    padding: 20px;
}

.profile-card {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .profile-pic{
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}


.profile-card::first-child .profile-pic{
    width: 60px;
    height: 60px;
}

.profile-card .profile-pic img{
    border: nones;
}
 
.profile-card .username{
    font-weight: 500;
    font-size: 14px;
    color: #000;
    text-align: start;
}

.sub-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    text-align: start;
}

.switch-btn{
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
    margin-left: 15px;
}

.suggestion-text{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 20px 0;
}

@media (max-width : 1100px){
    .right-col,.search-box{
        display: none;
    }

    .nav-wrapper , .wrapper{
        width: 90%;
    }

    .wrapper{
        display: block;
    }
}

@media(max-width : 500px){
    .nav-item .icon{
        margin: 0 5px;
    }

    .post-image{
        height: 300px;
    }
}